/* Estilo general del fondo */
html {
    background:radial-gradient(circle at center , rgb(68, 130, 101), rgb(70,132,102));
}

/* Header */
header {
    background: linear-gradient(to bottom, rgb(48, 91, 70), rgb(70,132,102));
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
}

header quote {
    font-style: italic;
}

/* navegar entre html */
nav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 70px;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding:20px;
    position: fixed;
    top:200px;
    margin-left: 30vw;
    border-radius:100px ;
}


li#navegador {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 120px;
}

li#navegador ul {
    margin: 0;
    padding: 0;
}

li#navegador ul a {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    padding: 13px;
    transition: background-color 0.3s, color 0.3s;
}

li#navegador ul a:hover {
    background-color: rgb(70, 137, 102);
    color: white;
    box-shadow: 0px 10px 50px rgb(6, 178, 169);
}

/*main*/
main {
    margin-top: 20vw;
    margin-left: 20vw;
    background-color: rgb(125, 125, 125);
    padding: 20px;
    max-width: 1200px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
    min-height: auto;
}
main h1{
    text-align: center;
    color:white;
    font-size: 200%;
    text-shadow: rgb(169, 169, 169) 3px 5px;
}
main form{
    color:white;
    font-weight: bold;
    font-size: 170%;
    text-align: center;
}
main form button{
    font-size: 20px;
 
    
}
main form button a{
    text-decoration: none;
    color: rgb(6, 6, 6);
}
/*foot*/
footer {
    position: fixed;
    padding: 6px;
    color: white;
    width: 100%;
    justify-content: space-between;
    bottom:0;
    left: 0;
    height: 62px;
    background-color: rgb(70,132,102);
    display: flex;
    align-items: center;
}

li#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 6px;
}

ul#copiright {
    font-size: small;
    text-align: left;
}

ul#fondo {
    display: flex;
    gap: 10px;
}

ul#fondo img {
    width: 55px;
    height: 50px;
    border-radius: 10px ;
}
li#footer ul#fondo a.A{
    opacity:100%;
    transition: 100ms ;
}
li#footer ul#fondo a.A:hover{
    opacity: 50%;
}

ul#abajo_delecha {
    font-style: italic;
    font-size: small;
    text-align: right;
}