html{
    background-color: rgb(70, 131, 99);
}
header{
    background-color: rgb(70, 132, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size:170% ;
    font-weight: 99%;
    color: white;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}
header>quote{font-style: italic;}
nav{
    background-color: whitesmoke;
    position: fixed;
    top:14%;
    right: 0%;
    width: 100%;
}
nav>li{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    display:flex ;
    justify-content: center;
}
nav>li>ul{
    margin:1%;
    padding: 1%;
    font-weight: 400;
}
nav>li>ul:hover{
    background-color: rgb(70,137,102);
    justify-content: center;
    font-weight: bold;
    color: white;
    cursor: default;
    font-size: 170%;
}
nav>li>ul>a{
    text-decoration:none;
    color:black;
}
nav>li>ul>a:hover{
    text-decoration:none;
    color: white;
}
footer{
    padding: 6px; 
    position: fixed;
    background-color: hwb(86,137,102);
    color: white;
    width: 98%;
    justify-content: center;
    bottom: 0%  ;
    left: 1%;
    height: 62px;

}
li#footer{
    display: flex;
    justify-content: space-between;

}
#copiright{
    font-size: small;
    text-align: left;
}

#fondo{
    display: flex;
    text-align: center;
}
main{
    position: relative;
    top:400px;
}

#abajo_delecha{
    font-style: italic;
    font-size: small ;  
    text-align: right;
}

#todos_los_formularios{
    background-color:rgb(57, 220, 141);
    border:2px solid rgb(198, 204, 209);
    border-radius: 7px;
    padding:3px;
}
#formulario1{
    justify-content: center;
    font-size: 14px;
    color:#6B121B;
    font-size: 120%;
    font-weight: bold;
}
fieldset{
    border:1px dotted rgb(255, 255, 255);
    border-radius: 6px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

legend{
    color: rgb(255, 255, 255);
    font-size: 120%;
    margin-bottom: 16px;
    padding: 0;
    margin-left: 5px;
}
input{
    background-color: white;
    border-radius: 4px;
    color:#ff00a2;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    outline: none;
}
#boton{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color:rgb(57, 220, 141);
    font-size:14;  
}
#boton:hover{color:#ff0000;}
:required{
    border-color: #4aa248;
    box-shadow: 3px 0px 0px 0px #4aa248;}
:invalid{
    border-color: #ff7f7f;
    box-shadow: 3px 0px 0px 0px #ff7f7f;
}